html,
body {
  font-family: Roboto Mono !important;
  color: black;
  font-size: 16px;
  
  background: #296DA1;
  background: radial-gradient(at left top, #296DA1, #C64B66);
}
h1 {
  font-family: Playfair Display;
  color: black;
}
h2 {
  font-family: JetBrains Mono;
  color: black;
  font-weight: 700 !important;
}
.navbar-custom {
  font-family: Overpass Mono;
  color: black;
}
hr {
  color: #DADADA !important;
}
.border {
  border: 2px #DADADA solid;
  border-radius: 5px;
}

.mono {
  font-family: JetBrains Mono;
}
.animate {
  opacity: 0;
  animation: fadein 1s forwards, slidein 1s forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-left: -50px;
  }

  to {
    margin-left: 0px;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
