html,
body {
  font-family: Roboto Mono !important;
  color:  black;
}
h1 {
  font-family: Playfair Display;
  color: black;
}
.navbar-custom {
  font-family: Overpass Mono;
  color: black;
}
.mono {
  font-family: JetBrains Mono;
}
.animate {
  opacity:  0;
  animation:  fadein 1.5s forwards;
}
@keyframes fadein {
  from { opacity: 0; }
  to {opacity: 1; }
}
@keyframes slide {
  100% {left:  0; }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}